/* Section 18: More ES6 Features */
/* 148. Spread & Rest */
/* #149. Sets */
/* #150. Symbols */
h2{
    text-align: center;
    color: darkviolet;
}
p{
    text-align: center;
    color: firebrick;
}
